In [1]:
from google.colab import files
files.upload()#download files locally from you computer,if you need to upload a huge files you should mount google draive

Saving data-2.csv to data-2.csv

{'data-2.csv': b'timestamp,msisdn_origin,msisdn_dest,call_duration,sms_number\n2020-01-01 00:00:00,915783624,911926375,36.23,15\n2020-01-01 00:05:00,911926375,968247916,9.2,5\n2020-01-01 00:10:00,936415793,915642913,7.52,24\n2020-01-01 00:15:00,914976835,914976835,96.7,97\n2020-01-01 00:20:00,962365794,933156729,110.44,15\n2020-01-01 00:25:00,966714385,915783624,12.34,5\n2020-01-01 00:30:00,968247916,962365794,91.48,57\n2020-01-01 00:35:00,933156729,936415793,83.22,73\n2020-01-01 00:40:00,915642913,966714385,85.7,18\n'}

In [0]:
import pandas as pd
data=pd.read_csv('data-2.csv')#read file

In [3]:
data

             timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
0  2020-01-01 00:00:00      915783624    911926375          36.23          15
1  2020-01-01 00:05:00      911926375    968247916           9.20           5
2  2020-01-01 00:10:00      936415793    915642913           7.52          24
3  2020-01-01 00:15:00      914976835    914976835          96.70          97
4  2020-01-01 00:20:00      962365794    933156729         110.44          15
5  2020-01-01 00:25:00      966714385    915783624          12.34           5
6  2020-01-01 00:30:00      968247916    962365794          91.48          57
7  2020-01-01 00:35:00      933156729    936415793          83.22          73
8  2020-01-01 00:40:00      915642913    966714385          85.70          18

In [4]:
len(data['msisdn_origin'].unique())

9

In [5]:
len(data['msisdn_dest'].unique())

9

In [6]:
933156729

933156729

In [0]:
selected_data=data[(data['msisdn_origin']==933156729) | (data['msisdn_dest']==933156729)]#put your numbers

In [111]:
selected_data['timestamp']=pd.to_datetime(selected_data['timestamp'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [112]:
selected_data

            timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
4 2020-01-01 00:20:00      962365794    933156729         110.44          15
7 2020-01-01 00:35:00      933156729    936415793          83.22          73

In [0]:
selected_data_outgoing_call=selected_data[selected_data['msisdn_origin']==933156729]#put your numbers, it depends on your rows and data in that case chat to to me

In [0]:
selected_data_incoming_call=selected_data[selected_data['msisdn_dest']==933156729]

In [115]:

import datetime as dt 
d = dt.datetime(2020, 1, 1,1,0,0)
selected_data_outgoing_call['call_duration']=selected_data_outgoing_call['timestamp'].apply(lambda x: d-x)
selected_data_outgoing_call['call_duration']=selected_data_outgoing_call['call_duration'].apply(lambda x:x.seconds/60)
selected_data_incoming_call['call_duration']=selected_data_incoming_call['timestamp'].apply(lambda x: d-x)
selected_data_incoming_call['call_duration']=selected_data_incoming_call['call_duration'].apply(lambda x:x.seconds/60)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [116]:
selected_data_outgoing_call['telephone']=selected_data_outgoing_call['call_duration'].apply(lambda x: x*2)#put your numbers

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [117]:
selected_data_incoming_call['telephone']=selected_data_incoming_call['call_duration'].apply(lambda x: 10*4+(x-10)*2 )#put your numbers

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [118]:
selected_data_incoming_call['sms_money_count']=selected_data_incoming_call['sms_number'].apply(lambda x: x*1.5 if x>50 else 0)#put your numbers

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [119]:
selected_data_outgoing_call['sms_money_count']=selected_data_outgoing_call['sms_number'].apply(lambda x: x*1.5 if x>50 else 0)#put your numbers also you could manage function and loops lol

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
new_selected_data=selected_data_incoming_call.append(selected_data_outgoing_call)#concat rows

In [121]:
new_selected_data

            timestamp  msisdn_origin  ...  telephone  sms_money_count
4 2020-01-01 00:20:00      962365794  ...      100.0              0.0
7 2020-01-01 00:35:00      933156729  ...       50.0            109.5

[2 rows x 7 columns]

In [122]:
print("итого {}".format(new_selected_data['telephone'].sum()+new_selected_data['sms_money_count'].sum()))

итого 259.5