In [4]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
conn_str = 'mysql+pymysql://ilnur_ds:LXuasGC#694rjWwsC@192.168.200.1:3306/skillrankDS'

engine = create_engine(conn_str)
conn = engine.connect()
def rank_data():
    habr_users=pd.read_sql('select * from habr_users', conn)
    users_login_exp=habr_users[['login','experience_imp']]
    users_login_exp.rename(columns={'login':'user'},inplace=True)
    jobs_moiKrug_job=pd.read_sql('select * from jobs_moiKrug_job',conn)
    users_responses=pd.read_sql('select * from careerHabr_users_responses ', conn)
    users_responses=users_responses.merge(users_login_exp,on='user')
    jobs_moiKrug_job_skill=pd.read_sql('select * from jobs_moiKrug_job_skill',conn)
    
    jobs=jobs_moiKrug_job.merge(jobs_moiKrug_job_skill,on='id')
    jobs=jobs.rename(columns={'job_mk_id':'vacancy_id'})
    total_data=users_responses.merge(jobs,on='vacancy_id')
    task_data=total_data[['experience_imp','location','job_title','value','vacancy_id']]
    cols=['job_title','value','experience_imp']
    tups = task_data[cols].sort_values(cols, ascending=False).apply(tuple, 1)
    f, i = pd.factorize(tups)
    factorized = pd.Series(f + 1, tups.index)

    some_data=task_data.assign(Rank=factorized)
    return some_data

In [5]:
some_data=rank_data()

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

NameError: name 'sime_data' is not defined

In [6]:
some_data.head()

,experience_imp,location,job_title,value,vacancy_id,Rank
0,9.9,"Россия, Москва",Старший Системный Администратор,Hyper-v,1000030813,65671
1,9.9,"Россия, Москва",Старший Системный Администратор,Администрирование Linux,1000030813,65643
2,9.9,"Россия, Москва",Старший Системный Администратор,Администрирование сетей,1000030813,65601
3,9.9,"Россия, Москва",Старший Системный Администратор,Active directory,1000030813,65685
4,9.9,"Россия, Москва",Старший Системный Администратор,Администрирование серверов,1000030813,65615