In [27]:
import pandas as pd
data=pd.read_csv('/Users/macbook/Downloads/data-2.csv')

In [28]:
data.head()

             timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
0  2020-01-01 00:00:00      915783624    911926375          36.23          15
1  2020-01-01 00:05:00      911926375    968247916           9.20           5
2  2020-01-01 00:10:00      936415793    915642913           7.52          24
3  2020-01-01 00:15:00      914976835    914976835          96.70          97
4  2020-01-01 00:20:00      962365794    933156729         110.44          15

In [29]:
data

             timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
0  2020-01-01 00:00:00      915783624    911926375          36.23          15
1  2020-01-01 00:05:00      911926375    968247916           9.20           5
2  2020-01-01 00:10:00      936415793    915642913           7.52          24
3  2020-01-01 00:15:00      914976835    914976835          96.70          97
4  2020-01-01 00:20:00      962365794    933156729         110.44          15
5  2020-01-01 00:25:00      966714385    915783624          12.34           5
6  2020-01-01 00:30:00      968247916    962365794          91.48          57
7  2020-01-01 00:35:00      933156729    936415793          83.22          73
8  2020-01-01 00:40:00      915642913    966714385          85.70          18

In [30]:
len(data['msisdn_origin'].unique())

9

In [31]:
len(data['msisdn_dest'].unique())

9

In [32]:
933156729

933156729

In [33]:
selected_data=data[(data['msisdn_origin']==933156729) | (data['msisdn_dest']==933156729)]

In [34]:
selected_data_outgoing_call=selected_data[selected_data['msisdn_origin']==933156729]

In [35]:
selected_data_incoming_call=selected_data[selected_data['msisdn_dest']==933156729]

In [23]:
# selected_data['call_duration']=selected_data['call_duration'].apply(lambda x:x/60)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
# selected_data_outgoing_call=selected_data[selected_data['msisdn_origin']==933156729]

In [25]:
# selected_data_incoming_call=selected_data[selected_data['msisdn_dest']==933156729]

In [39]:
selected_data_outgoing_call['telephone']=selected_data_outgoing_call['call_duration'].apply(lambda x: x*4 if x<30 else x*2)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
selected_data_outgoing_call

,timestamp,msisdn_origin,msisdn_dest,call_duration,sms_number,telephone
7,2020-01-01 00:35:00,933156729,936415793,83.22,73,166.44

In [41]:
selected_data_incoming_call['telephone']=selected_data_incoming_call['call_duration'].apply(lambda x: x*4 if x<30 else x*2)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
selected_data_incoming_call['sms_money_count']=selected_data_incoming_call['sms_number'].apply(lambda x: x*1.5)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
selected_data_outgoing_call['sms_money_count']=selected_data_outgoing_call['sms_number'].apply(lambda x: x*1.5)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
new_selected_data=selected_data_incoming_call.append(selected_data_outgoing_call)

In [47]:
new_selected_data

,timestamp,msisdn_origin,msisdn_dest,call_duration,sms_number,telephone,sms_money_count
4,2020-01-01 00:20:00,962365794,933156729,110.44,15,220.88,22.5
7,2020-01-01 00:35:00,933156729,936415793,83.22,73,166.44,109.5